// White
$White-Normal: #FFFFFF;
$White-Light: #F4F9FD;

//Grey
$Grey-Soft: #E2E1EA;
$Grey-Light: #C4C4C4;
$Grey-Normal: #9EABB8;
$Grey-Medium: #7C869E;
$Grey-Hard: #6A6A6A;

//Black
$Black-Normal: #202020;
$Black-Light: #4B4B4B;

//Light-Blue
$Light-Blue-Light:#EEF1F8;
$Light-Blue-Dark-Light:#E7EDFA;
$Light-Blue-Medium: #D3DEF8;
$Light-Blue-Dark: #7792D7;
$Light-Blue-Heavy: #2D488D;
$Light-Blue-Hard: #1C3166;

//Red
$Red-Light: #FFF5F5;
$Red-Easy: #F93232;
$Red-Normal: #FE505C;
$Red-Medium: #E53945;
$Red-Heavy: #D3343F;

//Statuses
$Statuses-Turquoise: #51D1D1;
$Statuses-Light-Turquoise: #ECFBFB;
$Statuses-Light-Blue: #F0F6FB;
$Statuses-Blue: #6BA3D6;
$Statuses-Orange: #FDC169;
$Statuses-Light-Orange: #FFF6E7;
$Statuses-Green: #4ED182;
$Statuses-Light-Green: #EDFAF3;
$Statuses-Purple: #BA86EE;
$Statuses-Light-Purple: #F8F3FD;
$Statuses-Hard-Purple: #4F48B4;
$Statuses-Light-Hard-Purple: #EDF2FE;


